* {
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'Open Sans', sans-serif;
}

:root {
--text-color: #d4d4d4;
--bg-color: #000;
--main-color: #ffa343;

--h1-font: 6rem;
--h2-font: 3rem;
--p-font: 1rem;
}

body {
color: var(--text-color);
background-color: white;
}

header {
position: fixed;
top: 0;
right: 0;
z-index: 1000;
width: 100%;
background: transparent;
padding: 27px 17%;
display: flex;
align-items: center;
justify-content: space-between;
transition: all 0.50s ease;
}
header.sticky{
padding: 8px 17%;
background: var(--bg-color);
backdrop-filter: blur(35px);
}

@media (max-width: 768px) {
header {
padding: 8px 17%;
}
}

.logo-container {
    margin-right: 20px;
}

.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}

.logo span {
    color: var(--main-color);
}

.navbar {
display: flex;
}

.navbar a {
color: var(--text-color);
font-size: var(--p-font);
font-weight: 500;
margin: 15px 22px;
transition: all.50s ease;
}

.navbar a:hover {
color: var(--main-color);
}

.h-right {
display: flex;
align-items: center;
}

.h-right a:first-child {
color: var(--text-color);
font-size: var(--p-font);
margin-right: 20px;
}

.h-right a {
vertical-align: middle;
font-size: 20px;
color: var(--text-color);
margin-right: 18px;
margin-left: 5px;
transition: all.50s ease;
}

.h-right a:hover {
color: var(--main-color);
transform: translateY(-3px);
}

#menu-icon {
color: var(--text-color);
font-size: 30px;
cursor: pointer;
z-index: 10001;
display: none;
}

@media (max-width: 768px) {
#menu-icon {
display: block;
}
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 10px;
    top: calc(50% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-color);
    border-radius: 20px;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
padding: 40px 17px 60px;
}

.home {
position: relative;
height: 55vh;
width: 100%;
background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(aboutBack.jpeg);
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: flex-start;
}

.btn {
display: inline-block;
padding: 13px 40px;
background: var(--main-color);
color: var(--bg-color);
font-size: 15px;
font-weight: 600;
border: 2px solid transparent;
border-radius: 5px;
transition: all.50s ease;
cursor: pointer;
}

.btn:hover {
transform: translateX(10px);
border: 2px solid var(--text-color);
background: transparent;
color: var(--text-color);
}

.brochure-content{
position: relative;
width: 60%;
overflow: hidden;
margin: 0 auto;
width: 1000px;
max-width: 100%;
text-align: center;
border-radius: 8px;
box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.bro{
display: flex;
width: 100%;
}
.bro img{
height: 775px;
width: 100%;
transition: all.50s ease
}
.bro input{
display: none;
}
.dots{
display: flex;
justify-content: center;
margin: 5px;
}
.dots label{
height: 20px;
width: 20px;
border-radius: 50%;
border: solid var(--text-color);
cursor: pointer;
transition: all.15s ease;
margin: 5px;
}
.dots label:hover{
background: var(--text-color);
color: var(--bg-color);
}
#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
.lower-content {
top: 0;
right: 0;
z-index: 1000;
width: 100%;
padding: 30px 15%;
justify-content: space-between;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2rem;
border-radius: 8px;
box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
.lower-content {
grid-template-columns: 1fr;
}
}

.lower-text h2 {
font-size: var(--h2-font);
font-weight: 800;
margin-bottom: 15px;
color: var(--bg-color);
}
.lower-text h3{
font-size: 30px;
font-weight: 800;
margin-bottom: 15px;
color: var(--bg-color);
}

@media (max-width: 768px) {
.lower-text h2 {
font-size: 35px;
}
}

.lower-text p {
font-size: var(--p-font);
font-weight: 500;
line-height: 30px;
color: var(--main-color);
margin-bottom: 35px;
}

.lower-content form {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, auto));
align-items: center;
gap: 1rem;
}

.lower-content form a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-content form input {
color: var(--bg-color);
border-width: 2px;
border-style: solid;
border-color: var(--main-color);
padding: 10px;
font-weight: bold;
}

.lower-content form h4 {
color: var(--bg-color);
}

@media (max-width: 768px) {
.lower-content form h4 {
font-size: 20px;
}
}

@media (max-width: 576px) {
.lower-content form {
grid-template-columns: 1fr;
}
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    padding: 15px;
    margin-top: -10px;
    margin-left: 65px;
  }
  
  .modal.show {
    display: block;
  }

  .modal-content {
    border: 2px solid #000000;
}

/* Add a style rule to make the modal visible */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    padding: 15px;
    margin-top: -10px;
    margin-left: 65px;
  }
  
  .modal.show {
    display: block;
  }

  .modal-content {
    border: 2px solid #000000;
}

/* Modal Header */
.modal-header {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Modal Body */
.modal-body {
    padding: 20px;
    font-size: 16px;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    margin-bottom: 15px;
}

.log-out {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.log-out p {
    margin-bottom: 15px;
    font-size: 16px;
}

/* Modal Footer */
.modal-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: right;
}

#logoutButton {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
}

/* Make the modal a bit larger */
.modal-dialog {
    max-width: 450px;
    margin: 30px auto;
}

/* Add background color only to modal content */
.modal-content {
    background-color: #fff;
    border: 1.2px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

/* Make all font text black */
body * {
    color: #000000a8;
}

.footer {
top: 0;
right: 0;
z-index: 1000;
width: 100%;
padding: 30px 15%;
justify-content: space-between;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, auto));
gap: 2rem;
}
@media (max-width: 576px) {
.footer {
grid-template-columns: 1fr;
}
}
.footer-box{
display: flex;
flex-direction: column;
}
.footer-box h3{
color: var(--main-color);
font-size: 20px;
font-weight: 800;
margin-bottom: 15px;
}
.footer-box a{
color: var(--bg-color);
margin-bottom: 0.8rem;
transition: all 0.50s ease;
}
.footer-box a:hover{
color: var(--main-color);
transform: translateX(-5px);
}
.social a{
display: inline-flex;
align-items: center;
justify-content: center;
height: 45px;
width: 45px;
background-color: #d4d4d4;
color: white;
font-size: 20px;
border-radius: 50%;
margin-right: 8px;
transition: transform 0.6s;
}
.social a:hover{
background: var(--main-color);
color: var(--bg-color);
transform: translateX(-5px);
}